body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  overflow: hidden;
  
  /* pulsing background */
  background-color: #222;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

/* pulsing background */
@keyframes color {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #4285f4;
  }
  100 {
    background-color: #222;
  }
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.title, .lineUpDancerButton{
  padding:5px 12px;
  float:right;
}
.title, .addFruitDancerButton {
  padding:5px 12px;
  float:right;
}

.title, .addVegetableDancerButton {
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;

}

.title{
  background-color: #777;
}

.dancer{
  border-radius:10px;
  position:absolute;
  
}

.hatBanana {
  max-width: 200px;
  max-height: 200px;
}

img:hover {
  transform: scale(1.5) rotate(300deg);
  transition-duration: 0.5s;
}

.row {
  text-align: center;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}